  <div class="productWrapper" data-id="{{product.id}}">
    <div class="productCartImage">
      <img src={{product.image}} class="cartImage">
    </div>
    <div class="productCartName">
      Name: {{product.name}}
    </div>
    <div class="productCartPrice">
      Price: ${{product.price}}
    </div>
    <div class="removeBtn">
      <button class="removeFromCartBtn btn btn-primary" id="removeProductBtn" data-id="{{product.id}}">Remove</button>
    </div>
  </div>
