{{#each orders as |order|}}

  <div class="orderWrapper" data-id="{{order.id}}">
    <div class="orderDate">
      Order Date: {{order.orderDate}}
    </div>
    <div class="orderTotalPrice">
      Total: ${{order.total}}
    </div>
    <div class="orderRating">
      Order Rating: {{order.rating}}
    </div>
    <div class="setRating">
      <select class="ratingClass" id="rating">
        <option value="rating1">1</option>
        <option value="rating2">2</option>
        <option value="rating3">3</option>
        <option value="rating4">4</option>
        <option value="rating5">5</option>
      </select>
      <button class="setOrderRatingBtn btn btn-primary btn-xs" id="{{order.id}}" data-id="{{order.id}}">Update Rating</button>
    </div>
    <div class="remoteBtn">
      <button class="removeFromOrderHistoryBtn glyphicon glyphicon-trash" id="{{order.id}}" data-id="{{order.id}}"></button>
    </div><br>
  </div>

{{/each}}
